* {
  box-sizing: border-box;
}
body a {
  font-family: "Urbanist", sans-serif;
  text-decoration: none;
}
/* HEADER------- */
header {
  margin: 0 auto;
  width: 100%;
  background: #fff;
  height: 47px;
  display: flex;
  padding-right: 8px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  left: 0;
}

.burger-menu {
  display: flex;
  width: 16px;
  gap: 24px;
  align-items: center;
}
.burger-menu .logo {
  display: block;
  width: 103px;
  height: 29px;
}
.nav-menu {
  display: none;
}
.menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.live {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-left: 8px;
  border-left: 1px solid #d4d4d4;
}
.live p {
  color: #ed0e05;
  font-size: 16px;
  font-weight: 600;
}
/* main------------- */
.content-wrapper {
  padding: 0 8px;
  max-width: 1300px;
  margin: 0 auto;
}
.title {
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding: 44px 0 8px;
  position: relative;
  color: #1a1b1b;
}
.title::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background: #d4d4d4;
  bottom: 0;
}
.main-title {
  font-size: 54px;
  font-weight: 600;
  line-height: 110%;
}
.title p {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.pictures-description {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 16px;
}
.pictures-description p {
  color: #1a1b1b;
  font-size: 24px;
  font-weight: 800;
  line-height: 110%;
  /* margin-bottom: 32px;  */
}
.picture-card {
  display: flex;
  width: 100%;
  height: 416px;
  background: url(../image/image\ 1.png) no-repeat center center;
  background-size: cover;
}

.subtopic-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  position: relative;
  padding-top: 24px;
}

.subtopic-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
/* padding: 0 8px;
 */
.subtopic-post::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background: #d4d4d4;
  bottom: 0;
}

.image-item {
  background: url(../image/image\ 2.png) no-repeat center center;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 166px;
}
.image-item-1 {
  background: url(../image/image\ 3.png) no-repeat center center;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 166px;
  position: relative;
}
.image-item-2 {
  background: url(../image/image\ 4.png) no-repeat center center;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 166px;
}
.play {
  position: absolute;
  bottom: 0;
  right: 0;
}

.image-item-3 {
  background: url(../image/image\ 5.png) no-repeat center center;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 166px;
}

.image-item-4 {
  background: url(../image/image\ 6.png) no-repeat center center;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 166px;
}
.image-item-5 {
  background: url(../image/image\ 7.png) no-repeat center center;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 166px;
}
.image-item-6 {
  background: url(../image/image\ 8.png) no-repeat center center;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 166px;
}

.image-item-7 {
  background: url(../image/image\ 9.png) no-repeat center center;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 166px;
}

.image-item-8 {
  background: url(../image/image\ 10.png) no-repeat center center;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 166px;
  position: relative;
}

.label {
  display: flex;
  padding: 10px 20px 10px 0px;
  align-items: flex-start;
  /* gap: 10px; */
  color: #0b3462;
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
}

.subtopic-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
/*  */

.subtopic-head p {
  display: block;
  color: #1a1b1b;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 24px;
}

.secondary-title {
  color: #1a1b1b;
  font-size: 34px;
  font-weight: 800;
  line-height: 110%;
  margin: 32px 8px 32px 0;
}

.more-about-block {
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin: 0 0 32px;
}
.more-about-post {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.subtopic-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.subtopic-content p {
  color: #1a1b1b;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 10px;
}
.subtopic-content span:last-of-type {
  color: #1a1b1b;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 10px;
}

.subtopic-content time:last-of-type {
  color: #1a1b1b;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 200;
  line-height: 120%;
}

.page-wrapper {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 32px;
}
.page-item {
  display: flex;
  width: 37px;
  height: 37px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50%;
  border: 1px solid #d4d4d4;
}

.page-wrapper :nth-child(n + 2) {
  color: #006ce5;
  text-align: center;
  font-family: Urbanist;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.tag-block {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid #d4d4d4;
  background: #eef2f3;
  padding: 44px 7px 44px 8px;
  gap: 32px;
}
.search-form {
  background: #dce4e7;
}
.form {
  display: inline-flex;
  width: 306px;
  justify-content: space-between;
}
.form input {
  border: none;
  background: #dce4e7;
}

input:focus {
  outline: none;
}
input::placeholder {
  color: #919191;
  font-size: 14px;
  font-weight: 400;
  line-height: 110%;
  padding-left: 10px;
}

.form img {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  background: #006ce5;
}

.tag-head {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 110%;
}

.tag-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.tag-container ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}
.tag-container li {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 800px;
  background: #fff;
}

.tag-container a {
  color: #1a1b1b;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
/* FOOTER--------- */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 32px 91px 24px;
}
.tag-container a:hover{
  color: #006ce5;
}
/* 768------- */

@media (min-width: 768px) {
  header {
    padding-right: 12px;
  }

  .burger-menu .logo {
    height: 32px;
  }
  .live {
    margin-right: 12px;
  }
  .title {
    gap: 4px;
    padding: 32px 0 4px 0;
  }
  .title p {
    font-size: 22px;
  }
  .main-title {
    font-size: 62px;
    position: relative;
  }
  .main-title::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #d4d4d4;
  }
  .pictures-description {
    padding: 32px 0 0;
  }
  .subtopic-block {
    padding: 0;
  }
  .content-wrapper {
    padding: 0 12px;
    max-width: 1300px;
    margin: 0 auto;
  }

  .subtopic-post {
    gap: 0;
    flex-direction: row;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 1px solid #d4d4d4;
    position: relative;
  }
  .subtopic-head {
    margin-left: 24px;
  }

  .subtopic-post::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #d4d4d4;
  }
  .secondary-title {
    margin: 32px 352px 32px 0px;
  }
  .more-about-post {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  .more-about-block {
    margin: 0 0px 32px;
    gap: 40px;
  }
  .image-item {
    max-width: 296px;
    max-height: 166px;
  }
  .image-item-1 {
    max-width: 296px;
    max-height: 166px;
  }
  .image-item-2 {
    max-width: 296px;
    max-height: 166px;
  }
  .image-item-3 {
    max-width: 296px;
    max-height: 166px;
  }
  .image-item-4 {
    max-width: 296px;
    max-height: 166px;
  }
  .image-item-5 {
    max-width: 296px;
    max-height: 166px;
  }
  .image-item-6 {
    max-width: 296px;
    max-height: 166px;
  }
  .image-item-7 {
    max-width: 296px;
    max-height: 166px;
  }
  .image-item-8 {
    min-width: 296px;
    max-height: 166px;
  }
}
/* 1368------- */
@media (min-width: 1368px) {
  header {
    padding: 0 36px;
  }
  .content-wrapper {
    padding: 0 36px;
    max-width: 1400px;
  }

  .nav-menu {
    display: block;
  }
  .burger-menu .burger {
    display: none;
  }
  .nav-menu ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
  }

  .nav-menu a {
    color: #1a1b1b;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
  }
  .nav-menu a:hover {
    color: blue;
  }

  .live {
    margin-right: 0;
  }
  .title {
    gap: 4px;
    padding: 48px 0 4px 0;
  }
   .secondary-title {
    margin-top: 0;
   
  } 
  .main-title {
    font-size: 62px;
    position: relative;
  }
  .main-title::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #d4d4d4;
  }
  .first-block {
    display: flex;
    flex-direction: row;
    margin: 32px 0 0;
    gap: 24px;
    position: relative;
  }
  .first-block::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background: #d4d4d4;
  }
  .picture-card {
    height: 418px;
  }
  .pictures-description p {
    font-size: 28px;
    margin-bottom: 32px;
  }
  .pictures-description {
    padding: 0;
  }
  .subtopic-post {
    padding-bottom: 32px;
    padding-top: 0;
  }

  .subtopic-block {
    gap: 32px;
  }
 
  .image-item {
    max-width: 196px;
    max-height: 110px;
  }
  .image-item-1 {
    max-width: 196px;
    max-height: 110px;
  }
  .image-item-2 {
    max-width: 196px;
    max-height: 110px;
  }
  .image-item-3 {
    max-width: 306px;
    max-height: 172px;
  }
  .image-item-4 {
    max-width: 306px;
    max-height: 172px;
  }

  .image-item-5 {
    max-width: 306px;
    max-height: 172px;
  }
  .image-item-6 {
    max-width: 306px;
    max-height: 172px;
  }
  .image-item-7 {
    max-width: 306px;
    max-height: 172px;
  }
  .image-item-8 {
    max-width: 306px;
    max-height: 172px;
  }
  .secondary-block {
    display: flex;
    flex-direction: row;
    margin: 56px 0 64px;
  }
  .secondary-title {
    display: flex;
    font-size: 42px;
    margin-right: 36px;
    flex-wrap: nowrap;
    min-width: 404px;
  }
  .more-about-block {
    margin: 0;
  }
}
